<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/home.css"/>
    <title>boutique</title>
   
</head>
<body>
    <div>
        <div class="header">
            <div class="pagetitle">
                <img src="Dell-Logo-1989-2016.png" height='40px' />
                <div class="text-title">La Boutique en ligne</div>
            </div>
            <div class="navs-container">
                <ul>Home</ul>
                <ul>Add product</ul>
                <ul>Contact</ul>
            </div>
        </div>
        <div class="body">
            <div id="products">
                {%products%}
            </div>
        </div>
    </div>
</body>

</html>