<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/detailproduct.css"/>
    <title>{%detailtitle%}</title>
</head>
<body>
    <div>
        <div class="header-app">
            <div class="logo-container">
                <img src="logo.png" alt="logo of shop" width="100px" />
            </div>
            <div class="navs-container">
                <a href="/"><ul>Home</ul></a>
                <a href="/addproduct"><ul>Add Product</ul></a>
                <a href="/basket"><ul>Basket</ul></a>
            </div>
            <!-- <div class="basket-button">
                <img src="../icons/basket.svg" width="40px" />
            </div> -->
        </div>
        <div class="detailpanel">
            <div class="image-detail" style="background-image: url('https://static.nike.com/a/images/t_PDP_1280_v1/f_auto,q_auto:eco/cc763817-06f5-4d38-927e-0404d1e9198b/air-max-270-womens-shoes-Pgb94t.png');">

            </div>
            <div class="infodetails">
                <div class="titleproduct-detailsp">Air Max 29</div>
                <div class="price-detailsp">400$</div>
                <div class="detailsp">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis consequatur eius ea vero alias ipsam ut. Veritatis earum necessitatibus eligendi ratione possimus aperiam labore nesciunt, iusto tempore fuga voluptatibus numquam!
                </div>
            </div>
        </div>
    </div>

</body>
<style>
     
</style>
</html>